<%- include("partials/header") -%>
  <style>
    .whole {
      height: auto;
    }

    .container {
      display: inline;
    }
  </style>

  <ul class="ul">
    <% forecastItem.map(forecast=> {%>
      <li class="days5">
        <span><%=forecast.timestamp%><br></span>
      <span><%=forecast.query%><br></span>
      <span><%=forecast.temp%>째C<br></span>
      <span><%=forecast.weather%><br></span>
                <span>(<%=forecast.weatherDescription%>)</span>
                  <span><img src="<%=forecast.weatherIcon%>" alt="<%=forecast.weatherDescription%>"></span>
                  
                  <span>Max : <%=forecast.temp_max%>째C<br></span>
                  <span>Min : <%=forecast.temp_min%>째C<br></span>
                  
                  <span>Humidity : <%=forecast.humidity%>%<br></span>
                  <span>Feels Like : <%=forecast.feels_like%>째C<br></span>


      </li>
      <% }).join('')%>
  </ul>

  <%- include("partials/footer") -%>