<%- include("partials/header") -%>


<h1>The temperature in  <%=query%>  is   <%=temp%> degree celcius</h1>
<h3>Weather description :  <%=weatherDescription%></h3>
<h3>Feels like :  <%=feels_like%></h3>
<h3>Minimum Temperature :  <%=min_temp%> celcius</h3>
<h3>Maximum Temperature :  <%=max_temp%> celcius</h3>
<h3>Humidity :  <%=humidity%></h3>
<img src = <%=imageUrl%> >
<%- include("partials/footer") -%>